torch==2.2.0
accelerate==0.30.1
opencv-python==4.5.5.64
opencv-python-headless==4.5.5.64
transformers==4.41.0
peft==0.11.0
PyWavelets==1.4.1
cuda-python==12.3.0
onnx==1.15.0
onnxruntime==1.17.3
polygraphy
onnxsim>=0.4.24
onnx-graphsurgeon==0.5.2
pandas
pynvml
--trusted-host pypi.shopee.io
--index-url http://pypi.shopee.io/simple/

aip-oneservice==0.4.6
mms-sdk==1.0.30
shopee-onemonitor
